.me-auto {
    display: flex;
    margin-right: auto;
    margin-left: auto;

    font-weight: 900;
    font-size: larger;
}

/* Home Slide */

.d-block{
    width: 100%;
    height: 600px;
    margin: 20px;
    padding: 20px;
}

.nav{
    display: block;
    position: sticky;
    top: 0;
    z-index: 99;
}
.HeaderCart {
    position: relative;
    font-weight: 900;
    font-size: larger;
  }
  
  .HeaderCart .count {
    position: absolute;
    top: -0.5rem;
    right: 0;
    background-color: rgb(200, 74, 74);
    color: white;
    z-index: 99;
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    font-size: 0.7rem;
  }
  .product-img{
    width: 100%;
    height: 15rem;
    background-color: white;
    padding: 1rem;
    object-fit: scale-down;
  }
  .product_card{
    transition: 0.5s;
    cursor: pointer;
  }
  .product_card:hover{
    transform: scale(1.06);
    box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.75);
  }
  .ProductPage img {
    width: 100%;
    height: 50vh;
    object-fit: scale-down;
    border: solid 1px gray;
    background-color: white;
    padding: 2rem;
  }
  .container{
    margin-top: 25px;
    background-color: whitesmoke;
  }
  /* modal */

  .modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: #130d0d9c;
    position: fixed;
    display: flex;
    z-index: 99;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 30%;
    height: 90%;
    overflow-y: scroll;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 120px;
    height: 40px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }
  
