.me-auto {
    display: flex;
    margin-right: auto;
    margin-left: auto;

    font-weight: 900;
    font-size: larger;
}

/* Home Slide */

.d-block{
    width: 100%;
    height: 600px;
    margin: 20px;
    padding: 20px;
}

.nav{
    display: block;
    position: sticky;
    top: 0;
    z-index: 99;
}
.HeaderCart {
    position: relative;
    font-weight: 900;
    font-size: larger;
  }
  
  .HeaderCart .count {
    position: absolute;
    top: -0.5rem;
    right: 0;
    background-color: rgb(200, 74, 74);
    color: white;
    z-index: 99;
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    font-size: 0.7rem;
  }
  .product-img{
    width: 100%;
    height: 15rem;
    background-color: white;
    padding: 1rem;
    object-fit: scale-down;
  }
  .product_card{
    transition: 0.5s;
    cursor: pointer;
  }
  .product_card:hover{
    transform: scale(1.06);
    box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.75);
  }
  .ProductPage img {
    width: 100%;
    height: 50vh;
    object-fit: scale-down;
    border: solid 1px gray;
    background-color: white;
    padding: 2rem;
  }

  .container{
    margin-top: 20px;
    background-color: whitesmoke;
  }